<!DOCTYPE html>
{% load static %}
<html lang="en">


<!-- head -->
{% include 'head.html' %}

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="{% static 'dist/img/AdminLTELogo.png' %}" alt="AdminLTELogo" height="60" width="60">
  </div>

<!-- Navbar -->
{% include 'navbar.html' %}
<!-- /.navbar -->

<!-- Main Sidebar Container -->

{% include 'sidebar.html' %}


  <!-- Content Wrapper. Contains page content -->

  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 mb-3">Product</h1>            
          </div>
          <div class="col-sm-6">
            <div class="card-header">
                <div class="card-tools">
                    <ul class="nav nav-pills ml-auto">                   
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'list_product' %}">Product List</a>
                    </li>
                  </ul>
                </div>
            </div>           
          </div>                  
        </div>
        <hr>
        <form action="" class="form" method="POST">
          {% csrf_token %}
            <div class="row">
              <div class="form-group col-sm-6">
                <label for="category" class="text-secondary"><small>Product code*</small></label>
                <input type="text" id="category" class="form-control" name='product_code'>
            </div>

                <div class="form-group col-sm-6">
                    <label for="category" class="text-secondary"><small>Product Name*</small></label>
                    <input type="text" id="category" class="form-control" name='product_name'>
                </div>

                <div class="form-group col-sm-6">
                  <label for="category" class="text-secondary"><small>Category Name*</small></label>
                  <select name="product_category" id="" class="form-control" required>
                      {% for category in categories %}                          
                          <option value="{{category.id}}">{{category.category_name}}                                     
                          </option>                                                   
                      {% endfor %}                        
                  </select>                   
                </div>
              
              <div class="form-group col-sm-6">
                <label for="category" class="text-secondary"><small>Product Quantity*</small></label>
                <input type="text" id="category" class="form-control" name='product_quantity'>
            </div>

            <div class="form-group col-sm-6">
              <label for="category" class="text-secondary"><small>Seller Name*</small></label>
              <select name="product_seller" id="" class="form-control" required>
                  {% for seller in sellers %}                          
                      <option value="{{seller.id}}">{{seller.seller_name}}                                     
                      </option>                                                   
                  {% endfor %}                        
              </select>                   
          </div>
                <div class="form-group col-sm-6">
                    <label for="category" class="text-secondary"><small>Product purchase price*</small></label>
                    <input type="text" id="category" class="form-control" name='product_purchase_price'>
                </div>
                <div class="form-group col-sm-6">
                    <label for="category" class="text-secondary"><small>Product selling price*</small></label>
                    <input type="text" id="category" class="form-control" name='product_selling_price'>
                </div>                

                
            </div>

            <div class="form-group col-sm-6">
              <label for="country" class="text-secondary"><small>Country Name*</small></label>
              <select name="product_origin" id="" class="form-control" required>
                  {% for origin in origins %}                          
                      <option value="{{origin.id}}">{{origin.origin_name}}                                     
                      </option>                                                   
                  {% endfor %}                        
              </select>                   
          </div>
            <section class="content">        
                <div class="card-header">
                    <div class="card-tools">
                        <ul class="nav nav-pills ml-auto">                   
                        <li class="nav-item">                 
                          <button class="nav-link active" type="submit">Create</button>                                    
                        </li>
                      </ul>
                    </div>
                </div>          
            </section> 
        </form>        
      </div>        
    </div>   
  </div>
  


  <!-- /.content-wrapper -->
  {% include 'footer.html' %}
  
  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

{% include 'scripts.html' %}
</body>
</html>
